@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Map Dashboard ";
    Layout = null;
}

<style>
    #map {
        height: 600px;
        width: 100%;

    }

  

    /* Avatar styling */
    .avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }

    /* Popup styling for marker info */
    .custom-popup {
        background-color: #fff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    /* Name and company below the marker */
    .marker-label {
        background-color: #fff;
        padding: 5px 10px;
    width: max-content;
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        /* margin-top: 5px; */
        font-weight: bold;
        /* font-size: 14px; */
        color: #333;
    }

  
    .qr-status {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

        .qr-status .checked, .qr-status .unchecked {
            margin: 0 2px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }

    .checked {
        background-color: green;
    }

    .unchecked {
        background-color: red;
    }
    li a i:hover{
        color: Blue !important;
            }
            .tooltip-box {
        position: absolute;
        background-color: #333;
        color: #fff;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 13px;
        white-space: nowrap;
        z-index: 1000;
        display: none;}
        .logo img{
            width: 94px;
    transform: rotate(90deg);
    margin-top: 20px;
    margin-bottom: 31px;
    image-rendering: pixelated;
        }

    .leaflet-control-attribution{
        display:none;
    }
</style>


 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/Dashboard.css" asp-append-version="true">
        <link rel="icon"  href="~/img/Logo-Icon.png"/>
    <title>IFM360 Guard Tour</title>
    <style>
        /* Reset */
     

    </style>
   
</head>
<body>

   
    <div class="dashboard">
    <div class="sidebar">
      <div class="logo">
          @* <img src="~/img/logowhite.png" /> *@
          </div>
            <ul>
                @* <li data-tooltip="Dashboard" onclick="toggleSidebar()">☰</li> *@
               <li data-tooltip="Master"  ><a href="~/Admin/DashboardLogin?id=Master"><i class="fa-solid fa-house-user text-white"></i></a></li>
               <li data-tooltip="Users" ><a href="~/Admin/DashboardLogin?id=Mapping"><i class="fa-solid fa-users text-white"></i></a></li>
                      <li data-tooltip="Reports" ><a href="~/Admin/DashboardLogin?id=Dashboard"><i class="fa-solid fa-clipboard-list text-white"></i></a></li>
                      <li data-tooltip="Branch Login" ><a href="~/Admin/BranchLogin">
                          <i class="fa fa-code-branch text-white"></i>

                          </a></li>
                      <li data-tooltip="Logout" ><a href="~/Home/Logout"><i class="fa-solid fa-power-off text-white"></i></a></li>

 @*        <li><a href="~/Admin/DashboardLogin">🗺️</a></li> *@
      </ul>
    </div>
    <div class="content">
      <div class="vehicle-panel">
        <div class="vehicle-header">
         @* <img src="~/img/Logo.png"/> *@ @* <h5>Guards</h5> *@
          @* <input type="text" class="form-control" placeholder="Search..." /> *@
        </div>
        <ul class="vehicle-list">
        @*   <li><span class="dot green"></span> Guard 1 - Active</li>
          <li><span class="dot green"></span> Guard 2 - Patrolling</li>
          <li><span class="dot blue"></span> Guard 3 - Idle</li>
          <li><span class="dot grey"></span> Guard 4 - Offline</li> *@
                    <div class="col-12 mb-2">
                        <div class="date-picker">
                            <label for="date-range"></label>
                            <input type="date" id="date-range" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="Select date">
                        </div>
                    </div>
                    <div class="col-12 mb-2">


                        <select id="customer" class="form-control" onchange="BindSite()">

                            @* <option value="0">Select Customer</option> *@
                            @if (ViewBag.cust != null)
                            {
                                foreach (var item in ViewBag.cust as List<SelectListItem>)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>


                    </div>
                    <div class="col-12 mb-2">


                        <select id="site" class="form-control" onchange="BindShift()">

                            @* <option value="0">Select Site</option> *@

                        </select>


                    </div>
                    <div class="col-12 mb-2">


                        <select id="shift-dropdown" class="form-control" onchange="BindRoute(this.value)">

                            @* <option value="0">Select Shift</option> *@
                            @if (ViewBag.shift != null)
                            {
                                foreach (var item in ViewBag.shift as List<SelectListItem>)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>


                    </div>


                    <div class="col-12 mb-2">


                        <select onchange="BindFrequency()"  name="Route Name" class="form-control mandatory" style="border: 1px solid lightgray;" id="routeid">
                          @*   <option value="0">Select Route</option> *@

                        </select>
                    </div>

                    <div class="col-12 mb-2">


                        <select name="Frequency" class="form-control mandatory" style="border: 1px solid lightgray;" id="Frequency">
                            @* <option value="0">Select Frequency</option> *@

                        </select>
                    </div>


                </ul>
      </div>
      <div class="map-area">
                <div id="map-container" style="position: relative; height: 500px;">
                    <div id="map" style="height:100%"></div>
                    @* <img id="mapImage"
                         src="/MapImage/lulumap.jpg"
                         style="position:absolute; top:0; left:0; width:100%; height:100%; pointer-events:none; opacity:0.5;"> *@
                </div>
        @* <div class="info-float">
          <ul>
            <li>Guard 1 - 12:10 PM - Entry Gate</li>
            <li>Guard 2 - 12:15 PM - Block B</li>
            <li>Guard 3 - 12:20 PM - Control Room</li>
          </ul>
        </div> *@
      </div>
    </div>
  </div>

       @*  <div id="map" style="width:100%; height:500px;"></div> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  

 
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.6.0/Control.FullScreen.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.6.0/Control.FullScreen.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
 
    <script src="~/js/Dashboard/Dashboard.js" asp-append-version="true"></script>
    <script src="~/js/Master.js" asp-append-version="true"></script>
           <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        let $tooltip = $('<div class="tooltip-box"></div>').appendTo('body');
 
        $('[data-tooltip]').on('mouseenter', function (e) {
            const tipText = $(this).data('tooltip');
            $tooltip.text(tipText).fadeIn(200);
        }).on('mousemove', function (e) {
            $tooltip.css({
                top: e.pageY + 10,
                left: e.pageX + 10
            });
        }).on('mouseleave', function () {
            $tooltip.hide();
        });
    });
</script>

</body>
</html>

<script>
    const xValues = ["No Observation for today"];
    const yValues = [55];
    const barColors = [
        "#b91d47",

    ];

    new Chart("myChart", {
        type: "doughnut",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        // options: {
        //     title: {
        //         display: true,
        //         text: "World Wide Wine Production 2018"
        //     }
        // }
    });
</script>
@* <script>
    document.getElementById("toggle").addEventListener("change", function () {
        document.getElementById("status").textContent = this.checked ? "ON" : "OFF";
    });
    



</script> *@